{% if request.user.is_authenticated %}
{% load tz %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sanjeevni Ai | @Admin Dashboard</title>

   <!-- Material Symbols/Icons CDN -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />

   <!-- Custom CSS file  -->
   <link rel="stylesheet" href="{% static 'appoint_app/css/master_styles.css' %}">

</head>
<body style="background: linear-gradient(-202deg,rgb(15, 109, 128) 0%,rgb(30, 82, 135) 15%, #e5e8eb 46%, #F3FFFD 72%,rgb(30, 103, 110) 81%,rgb(37, 93, 125) 100%);" data-theme="light">
   <div style="background: linear-gradient(-202deg,rgb(15, 109, 128) 0%,rgb(30, 82, 135) 15%, #e5e8eb 46%, #F3FFFD 72%,rgb(30, 103, 110) 81%,rgb(37, 93, 125) 100%);" class="container">
      <!--Start of aside-->
      <aside style="background: linear-gradient(-202deg,rgb(15, 109, 128) 0%,rgb(30, 82, 135) 15%, #e5e8eb 46%, #F3FFFD 72%,rgb(30, 103, 110) 81%,rgb(37, 93, 125) 100%);">
         <div style="" class="top">
            <div class="logo">
               <!--Javascript loads logo based on theme-->
            </div>
            <div class="close" id="close-btn">
               <span class="material-symbols-sharp">close</span>
            </div>
         </div>
         
         <div style="height: 100%; margin: 0; padding: 0; overflow-x: hidden; font-family: 'Poppins', sans-serif; background: linear-gradient(-202deg,rgb(49, 120, 135) 0%, #d5e2ef 15%, #e5e8eb 46%, #F3FFFD 72%, #B6CDCF 81%,rgb(67, 87, 98) 100%); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;" class="sidebar">
            <a href="{% url 'admin:index' %}" class="active">
               <span class="material-symbols-sharp">grid_view</span>
               <h3>Dashboard</h3>
            </a>            
            <a href="{% url 'appointments_list' %}">
               <span class="material-symbols-sharp">event</span>
               <h3>View Appointments</h3>
            </a>
            <a href="{% url 'manage-user-payments' %}">
               <span class="material-symbols-sharp">paid</span>
               <h3>View Payments</h3>
            </a>
            <a href="{% url 'admin:account_appointment_changelist' %}">
               <span class="material-symbols-sharp">calendar_clock</span>
               <h3>Manage Appointments</h3>
            </a>
            <a href="{% url 'admin:payments_payment_changelist' %}">
               <span class="material-symbols-sharp">payments</span>
               <h3>Manage Payments</h3>
            </a>
            <a href="{% url 'admin:account_user_changelist' %}">
               <span class="material-symbols-sharp">manage_accounts</span>
               <h3>Manage Users</h3>
            </a>
            <a href="{% url 'register-doctor' %}">
               <span class="material-symbols-sharp">add</span>
               <h3>Create Doctor</h3>
            </a>
            <a href="{% url 'register-admin' %}">
               <span class="material-symbols-sharp">add</span>
               <h3>Create Admin</h3>
            </a>
            <a href="{% url 'register-patient-admin' %}">
               <span class="material-symbols-sharp">add</span>
               <h3>Create Patient</h3>
            </a>

            <a href="{% url 'logout' %}">
               <span class="material-symbols-sharp">logout</span>
               <h3>Logout</h3>
           </a>         
           <br><br><br>
            <a href="{% url 'delete_account_confirmation' %}">
               <span class="material-symbols-sharp">warning</span>
               <h3>Delete my Account</h3>
            </a>
         </div>
      </aside>
      <main>
         
         <div class="insights">
            <div class="booked">
               <span class="material-symbols-sharp">book_online</span>
               <div class="middle">
                  <div class="left">
                     <h3>Booked Appointments</h3>
                     <h1>{{ total_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ appointment_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="approved">
               <span class="material-symbols-sharp">calendar_clock</span>
               <div class="middle">
                  <div class="left">
                     <h3>Scheduled Appointments</h3>
                     <h1>{{ scheduled_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ scheduled_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="booked">
               <span class="material-symbols-sharp">cancel</span>
               <div class="middle">
                  <div class="left">
                     <h3>Failed Appointments</h3>
                     <h1>{{ failed_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ failed_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="booked">
               <span class="material-symbols-sharp">event_busy</span>
               <div class="middle">
                  <div class="left">
                     <h3>Canceled Appointments</h3>
                     <h1>{{ canceled_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ canceled_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>

            <div class="paid">
               <span class="material-symbols-sharp">order_approve</span>
               <div class="middle">
                  <div class="left">
                     <h3>Completed Appointments</h3>
                     <h1>{{ completed_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ completed_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>

               <div class="paid">
               <span class="material-symbols-sharp">order_approve</span>
               <div class="middle">
                  <div class="left">
                     <h3>Closed Appointments</h3>
                     <h1>{{ closed_appointments }}</h1>
                  </div>
                  <div class="progress">
                     <svg class="progress-svg">
                        <circle cx="38" cy="38" r="36"></circle>
                     </svg>
                     <div class="number">
                        <p class="available-percentage">{{ closed_percentage }}%</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      
      
      <div class="mt-5">
         <div class="mt-5"> 
               {% if user.profile_photo %}
               <img  class="mt-5" src="{{user.profile_photo.url}}" style="border-radius:50%" >
               {% else %}
               <img src="{% static 'appoint_app/images/profile.png' %}" style="border-radius:50%">
               {% endif %}
            </div>
            <div class="text-center">
               <a class="mt-5"  href="{% url 'update-admin-profile' request.user.username %}">
               <h1 class="text-center" >Hey, <b>{{request.user.username}}</b></h1>
                  <h3 style="top-0 mt-0" >Admin Dashboard</h3></a>

            </div>
      </div>

      <div class="right">
         <div class="top">
            <button class="menu-btn" id="menu-btn">
               <span class="material-symbols-sharp">menu</span>
            </button>
            
            
         </div>
      </div>
   </div>

   <script src="{% static 'appoint_app/js/master_scripts.js' %}"></script>
   <script src="{% static 'appoint_app/js/my_theme.js' %}"></script>
   <script src="{% static 'appoint_app/js/progress_bar.js' %}"></script>
   <script src="{% static 'appoint_app/js/date_time.js' %}"></script>
</body>
</html>
{% endif %}